.card-container {
    background: #FF6060;
    height: 24vh;
    width: 100%;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: flex-end;

    p {
        padding: 1em;
    }
}